/*Общие стили*/

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.woff")
    format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.woff")
    format("woff");
}
body {
	font-family: "Open Sans";
}
.wrap {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  z-index: 10;
  font-family: "Open Sans";
  position: relative;
}
h2 {  
	font-size: 20px;
	line-height: 24px;  
}
h2, h3 {
	text-transform: uppercase;
	font-weight: bold;
}
a {
  text-decoration: none;
}
a:hover, .subscription-btn:hover, .search-btn:hover {
  opacity: 0.5;
}

/*Шапка сайта*/

.header {
  background: url("../images/banner-bg.jpg");
  padding: 25px 0 150px;
  position: relative;
  margin-bottom: 65px;
}
.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 1;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 180px;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu ul a {
  color: #fff;
  text-transform: uppercase;
  padding: 16px;
  font-size: 13px;
}
.header-title h1 {
  margin: 125px auto 0;
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 700px;
}
/*Блок трэнды*/
.trands {
    margin-bottom: 65px;
}
.head-trands {
	margin-bottom: 25px;
}
.head-trands h2 {
	text-align: center;	
	color: #000000;
}
.trands-blocks {
    display: flex;
    justify-content: space-between;
}

.trand-block {
    width: calc(25% - 5px);
	position: relative;
}
.img-trand:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
.img-trand img {
    max-width: 100%;
	display: inherit;
}
.trand-content {
    position: absolute;
    bottom: 0;
    z-index: 2;
    border: 3px solid rgba(181,159,91,0.6);
    width: calc(100% - 40px);
    margin: 20px;
    padding: 35px;
    box-sizing: border-box;    
}
.trand-block-head h3 a {
    color: #ffffff;
}
/*Контентная часть*/

.wrap-content {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 780px;
}

.news {
  display: flex;
  margin-bottom: 57px;
}

.news-img {
  margin-right: 30px;
}
.news-img img {
  max-width: 380px;
}
.news-text-tags ul {
    list-style: none;
    display: flex;
}
.news-text-tags a {
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}
.news-text-head {
  margin-bottom: 30px;
}
.news-text-head h2 a {
  color: #000;
}
.news-text-info {
  margin-bottom: 50px;
  font-size: 12px;
}

.news-text-info-date {
  color: #888888;
  margin-right: 10px;
}

.news-text-info-author {
  font-weight: bold;
}
.news-text-intro {
  font-size: 15px;
  line-height: 22px;
}

/*Правый бар сайта*/

.sidebar {
  width: 275px;
}
.sidebar-head {
  margin-bottom: 30px;
}
.sidebar-head h2 {
  text-align: center;
  font-size: 14px;
}
.sidebar-head h2::after, .head-trands h2::after {
  content: "";
  width: 65px;
  height: 3px;
  background: #e1d9bd;
  display: block;
  margin: 12px auto 0;
}
.new-post {
  display: flex;
  margin-bottom: 20px;
}

.news-post-img {
  margin-right: 20px;
}
.news-post-img img {
  max-width: 70px;
}
.new-post-date {
  font-size: 12px;
  color: #9a9a9a;
}
.new-post-text h3 {
  line-height: 16px;
}
.new-post-text h3 a {
  color: #000;
  font-size: 14px;
}

.serach-block {
  padding: 30px 0;
  margin-bottom: 25px;
}

.form-row {
  display: flex;
}
input {
  border: none;
  width: 100%;
}

.search-btn {
  background: #b59f5b
    url("../svg/search.svg");
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
}

.search {
  width: calc(100% - 50px);
}

.search,
.subscriprion-input {
  background: #f4f7f6;
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px;
}

.subscription-btn {
  background: #b59f5b;
  color: #fff;
  text-transform: uppercase;
  height: 50px;
  cursor: pointer;
}

.suscription form .form-row:first-child {
  margin-bottom: 18px;
}

.tags-cloud {
  margin: 50px 0;
}
.tags-cloud-tags ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.tags-cloud-tags ul li {
  margin: 0 3px 3px 0;
}
.tags-cloud-tags a {
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid #eee;
}

.topics-list ul {
  list-style: none;
}
.topics-list ul li {
  border-bottom: 1px solid #eee;
  padding: 5px 0 15px;
}
.topics-list ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  position: relative;
  line-height: 14px;
}

.index {
  font-size: 12px;
  color: #b59f5b;
  position: absolute;
  top: -2px;
  padding-left: 5px;
}

/*Подвал сайта*/

footer {
  text-align: center;
  padding-bottom: 40px;
}
.socials {
  padding: 30px;
  background: #f4f7f6;
  margin-bottom: 70px;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.socials a {
  display: inline-flex;
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
  margin: 0 10px;
}
.twiter {
  background-image: url("../svg/004-twitter.svg");
}
.pinterest {
  background-image: url("../svg/001-pinterest.svg");
}
.facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}
.instagram {
  background-image: url("../svg/005-instagram.svg");
}
.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
}
