/*Общие стили*/

* {
  margin: 0;
  padding: 0;
}
body {
	min-width: 360px;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.woff")
    format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.woff")
    format("woff");
}
body {
	font-family: "Open Sans";
}
.wrap {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  z-index: 10;
  font-family: "Open Sans";
  position: relative;
}
h2 {  
	font-size: 20px;
	line-height: 24px;  
}
h2, h3 {
	text-transform: uppercase;
	font-weight: bold;
}

a {
	color: #b59f5b;
	text-decoration: none;
}
a:hover, .subscription-btn:hover, .search-btn:hover {
	opacity: 0.5;
}

/*Мобильное меню*/
.hamburger {
	position: relative;
    display: none;
    width: 25px;
    height: 20px;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    box-sizing: border-box;
}

.hamburger:before {
  content: "";
  position: absolute;
  top: 5.5px;
  left: 0px;
  width: 100%;
  border-top: 3px solid #ffffff;
}

/*Шапка сайта*/

.header {
  background: url("../images/banner-bg.jpg");
  padding: 25px 0 150px;
  position: relative;
  margin-bottom: 65px;
  backgrount-repeat: none;
  background-position: center;
  background-size: cover;
}
.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 1;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 180px;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu ul a {
  color: #fff;
  text-transform: uppercase;
  padding: 16px;
  font-size: 13px;
}
.menu ul li:last-child a {
	padding-right: 0px;
	}
.header-title h1 {
  margin: 125px auto 0;
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 700px;
}

/*Блок трэнды*/

.trands {
    margin-bottom: 65px;
}
.head-trands {
	margin-bottom: 25px;
}
.head-trands h2 {
	text-align: center;	
	color: #000000;
}
.trands-blocks {
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
}

.trand-block {
    width: calc(25% - 5px);
	position: relative;
	font-size: 20px;
    line-height: 1.2em;
}
.img-trand:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
.img-trand img {
    max-width: 100%;
    display: inherit;
    object-fit: cover;
    width: 100%;
}
.trand-content {
    position: absolute;
    bottom: 0;
    z-index: 2;
    border: 3px solid rgba(181,159,91,0.6);
    width: calc(100% - 40px);
    margin: 20px;
    padding: 1.75em;
    box-sizing: border-box;    
}

.trand-block-head h3 a {
    color: #ffffff;
	font-size: 1em;	
}

/*Контентная часть*/

.wrap-content {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 780px;
}

.news {
  display: flex;
  margin-bottom: 57px;
}

.news-img {
  margin-right: 30px;
}
.news-img img {
  max-width: 380px;
}
.news-text-tags ul {
    list-style: none;
    display: flex;
}
.news-text-tags a {
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}
.news-text-head {
  margin-bottom: 30px;
}
.news-text-head h2 a {
  color: #000;
}
.news-text-info {
  margin-bottom: 50px;
  font-size: 12px;
}

.news-text-info-date {
  color: #888888;
  margin-right: 10px;
}

.news-text-info-author {
  font-weight: bold;
}
.news-text-intro {
  font-size: 15px;
  line-height: 22px;
}

/*Правый бар сайта*/

.sidebar {
  width: 275px;
}
.sidebar-head {
  margin-bottom: 30px;
}
.sidebar-head h2 {
  text-align: center;
  font-size: 14px;
}
.with-underline::after {
  content: "";
  width: 65px;
  height: 3px;
  background: #e1d9bd;
  display: block;
  margin: 12px auto 0;
}
.new-post {
  display: flex;
  margin-bottom: 20px;
}

.news-post-img {
  margin-right: 20px;
}
.news-post-img img {
  max-width: 70px;
}
.new-post-date {
  font-size: 12px;
  color: #9a9a9a;
}
.new-post-text h3 {
  line-height: 16px;
}
.new-post-text h3 a {
  color: #000;
  font-size: 14px;
}

.serach-block {
  padding: 30px 0;
  margin-bottom: 25px;
}

.form-row {
  display: flex;
}
input {
  border: none;
  width: 100%;
}

.search-btn {
  background: #b59f5b
    url("../svg/search.svg");
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
}

.search {
  width: calc(100% - 50px);
}

.search,
.subscriprion-input {
  background: #f4f7f6;
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px;
}

.subscription-btn {
  background: #b59f5b;
  color: #fff;
  text-transform: uppercase;
  height: 50px;
  cursor: pointer;
}

.suscription form .form-row:first-child {
  margin-bottom: 18px;
}

.tags-cloud {
  margin: 50px 0;
}
.tags-cloud-tags ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.tags-cloud-tags ul li {
  margin: 0 3px 3px 0;
}
.tags-cloud-tags a {
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid #eee;
}

.topics-list ul {
  list-style: none;
}
.topics-list ul li {
  border-bottom: 1px solid #eee;
  padding: 5px 0 15px;
}
.topics-list ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  position: relative;
  line-height: 14px;
}

.index {
  font-size: 12px;
  color: #b59f5b;
  position: absolute;
  top: -2px;
  padding-left: 5px;
}

/*Блок с товарами*/

.head-items {
	margin-bottom: 30px;
}

.head-items h2 {
    text-align: center;
}

.wrap-items {
    display: flex;
    justify-content: space-between;
	margin-bottom: 65px;
	flex-wrap: wrap;
}

.item {
    width: calc(33% - 65px);
	display: flex;
    flex-direction: column;
}
.item-image {
	padding: 17px;    
    text-align: center;
}

.item-image img {
    max-width: 100%;
}
.wrap-item-content {
    padding: 40px 17px 17px;
    margin-top: -50px;
    border: 3px solid rgba(181,159,91,0.6);
	height: 100%;
}
.item-content h3 {
	font-size: 20px;
	margin-bottom: 5px;
}
.item-content p {
    font-size: 15px;
}
.wrap-price-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.price-item-block {
    flex-direction: column;
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    padding-bottom: 8px;
}
.price-item-block span {
    line-height: 100%;
}

.price-item-block span:after {
    content: " \20BD";
	font-family: arial;
}

.price-item {
    font-size: 20px;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
}
a.btn-shop {
    color: #ffffff;
    background: #b59f5b;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    display: block;
}

/*Подвал сайта*/

footer {
  text-align: center;
  padding-bottom: 40px;
}
.socials {
  padding: 30px;
  background: #f4f7f6;
  margin-bottom: 70px;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.socials a {
  display: inline-flex;
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
  margin: 0 10px;
}
.twiter {
  background-image: url("../svg/004-twitter.svg");
}
.pinterest {
  background-image: url("../svg/001-pinterest.svg");
}
.facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}
.instagram {
  background-image: url("../svg/005-instagram.svg");
}
.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
}

/*Стили формы*/

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 100;
    top: 0;
    overflow-y: auto;
    padding: 100px 30px 10px;
	box-sizing: border-box;
}

.wrap-form form .field {
	-webkit-appearance: none;
	-moz-appearance: none;
}
.wrap-form {
    max-width: 400px;
    margin: 0 auto;
    background: #ffffff;
    padding: 50px 35px;
    position: relative;
}
.block-btn-close {
    position: absolute;
    z-index: 100;
    top: -40px;
    right: 0;
    font-size: 30px;
}

.close {
     color: #ffffff
}

.wrap-form .with-underline {
    text-align: center;
    margin-bottom: 30px;
}
.wrap-form label {
    display: block;
    margin-bottom: 5px;
}

.row-form {
    margin-bottom: 20px;
}

.wrap-form input, .wrap-form select, .wrap-form textarea {
	width: 100%;
	background: #f4f7f6;
	color: rgba(0,0,0,0.54);
	border: none;
}
.wrap-form .with-radio input {
	display: none;
}
.with-radio {
	display: flex;
}
.wrap-form select {
    padding: 15px 35px 15px 15px;
	background-image: url("../svg/form-arrows.svg");
	background-repeat: no-repeat;
	background-position: 98% center;
	background-size: auto 50%;	
}
.with-radio input + label::before, .with-radio input:disabled + label::before,
.with-radio input:not(:checked) + label::before, 
.with-radio input:not(:focus) + label::before,
.with-radio input:not(:active) + label::before
 {
    content: '';
    display: block;
	height: 25px;
    width: 25px;
	margin-right: 10px;
    background-image: url("../svg/form-empty-circle.svg");
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
}
.with-radio input:not(:disabled):not(:checked) + label:hover::before,
.with-radio input:not(:disabled):active + label::before,
.with-radio input:focus + label::before,
.with-radio input:checked + label::before {
	background-image: url("../svg/form-circle.svg");
	
}

.with-radio  label {
    margin-right: 20px;
	display: flex;
}
.wrap-form textarea {
    padding: 15px;
    box-sizing: border-box;
    height: 100px;
}
.wrap-form button {
    display: block;
    width: 100%;
    padding: 20px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    background: #b59f5b;
}

/*Адаптивность*/
@media (max-width: 1380px) and (min-width: 1199px) {
	.trand-block {
		font-size: 16px;
	}
}

@media (max-width: 1199px) {
	.header {
		padding: 50px 0 125px;
		margin-bottom: 50px;
	}
	.wrap {
		padding: 0 35px;
	}
	.menu nav {
		display: none;
	}
	.hamburger {
		display: flex;
	}
	.header-title h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 18px;
	}
	.trands {
		margin-bottom: 50px;
	}
	.trand-block-head h3 a, .item-content h3 {
		font-size: 17px;
	}	
	.trand-block {
		width: calc(50% - 2px);
		margin-bottom: 4px;
	}
	.item {
		width: calc(50% - 10px);
	}
	.content {
		width: calc(60% - 30px);
	}
	.sidebar {
		width: 40%;
	}
	.news {
		flex-direction: column;
		border-bottom: 3px solid #eeeeee;
		padding-bottom: 15px;
		margin-bottom: 40px;
	}
	.news:last-child {
		border-width: 0;
	}
	.news-img {
		margin-right: 0;
	}
	.news-img img {
		max-width: 100%;
		width: 100%;
	}
	.news-text-info {
		margin-bottom: 30px;
	}
	
}

@media (max-width: 768px) {
	.wrap {
		padding: 0 15px;
	}
	.header {
    padding: 50px 0 215px;
	background-position: 30% 0px;
	}
	.header-top {
    justify-content: flex-end;
	}
	.logo {
    position: absolute;
    text-align: center;
    width: calc(100% - 30px);
    top: 205px;
	}
	.logo img {
		width: 270px
	}
	.header-title h1 {
		margin-top: 275px;
		font-size: 26px;
	}
	h2 {
		font-size: 16px;
	}
	.trand-block, .item, .content, .sidebar {
		width: 100%;
	}
	.trand-content {
		margin: 15px;
		width: calc(100% - 30px);
	}
	.wrap-content {
		display: block;
	}	
	.news:last-child {
		border-width: 3px;
	}
	.news-img {
		margin-right: 0px;
	}
	.news-text-head, .news-text-info {
		margin-bottom: 24px;
	}
	.sidebar-head {
    margin-bottom: 20px;
	}
	.serach-block {
		padding: 15px 0;
	}	
	.tags-cloud {
    margin: 40px 0;
	}
	.items {
		margin-top: 30px;
	}
}
@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
	.trand-block {
		width: calc(25% - 5px);
		font-size: 16px;
	}
}
@media (max-width: 640px) and (orientation: landscape) {
	.trand-block {
		width: calc(50% - 5px);
		font-size: 16px;
	}
}

